<form method="post" action="/start" enctype="multipart/form-data">
    
    <!-- Username -->
    <div class="mb-3">
        <label class="form-label text-white">Facebook Username / Email</label>
        <input type="text" class="form-control" name="username" required>
    </div>

    <!-- Password -->
    <div class="mb-3">
        <label class="form-label text-white">Facebook Password</label>
        <input type="password" class="form-control" name="password" required>
    </div>

    <!-- Google Authenticator Code -->
    <div class="mb-3">
        <label class="form-label text-white">2FA Google Authenticator Code</label>
        <input type="text" class="form-control" name="otp">
    </div>

    <!-- Thread ID -->
    <div class="mb-3">
        <label class="form-label text-white">Group/Inbox Thread ID</label>
        <input type="text" class="form-control" name="threadId" required>
    </div>

    <!-- Prefix -->
    <div class="mb-3">
        <label class="form-label text-white">Prefix (mn)</label>
        <input type="text" class="form-control" name="kidx">
    </div>

    <!-- Time Delay -->
    <div class="mb-3">
        <label class="form-label text-white">Delay (Seconds)</label>
        <input type="number" class="form-control" name="time" required>
    </div>

    <!-- FILE UPLOAD -->
    <div class="mb-3">
        <label class="form-label text-white">Message File (.txt)</label>
        <input type="file" class="form-control" name="txtFile" accept=".txt" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">START</button>
</form>
